body{
  margin: 0px;
  padding: 0px;
}

#logo{
  width: 90%;
  margin: auto;
}

#logo img{
  width: 100%;
  margin-top: 3px;
}

.slider img{
  width: 90%;
  display: none;
  margin: auto;
}

.slider img.active{
  display: block;

}

#button{
  width: 30px;
  margin: auto;
  margin-top: -65px;
}

#button button{
  width: 30px;
  height: 30px;
  background-color: #1a1a1a;
  border: none;
}

i{
  margin-top: -1px;
  margin-left: 1px;
  color: #e6e6e6;
}

#button button:hover{
  background-color: #262626;
}

#button button{
  cursor: pointer;
}

#tekst{
  width: 900px;
  margin: auto;
  text-align: center;
  font-family: Segoe UI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 80px;
  margin-bottom: 80px;
}

#linkedin{
  width: 370px;
  position: relative;
  margin: auto;
}

#tekst p{
  font-size: 20px;
  line-height: 24px;
  padding: 24px 0 4px;
  font-weight: 200;
  margin-top: -30px;
}

#tekst h2{
  padding: 38px 0 2px;
  font-weight: 100;
  font-size: 34px;
  line-height: 40px;
}

#organisatie,#support,#turbines{
  width: 400px;
  float: left;
}

#support{
  margin-left: 50px;
  margin-right: 50px;
}

#beschrijving{
  width: 1300px;
  height: 400px;
  margin: auto;
  text-align: center;
  font-family: Segoe UI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 50px;
}

#left{
  margin-right: 20px;
}

#right{
  margin-left: 20px;
}

footer{
  margin-top: 50px;
  height: 250px;
  background-color: rgb(233, 233, 233);
}

ul{
  display: inline-block;
  list-style-type: none;
  color: #616161;
  line-height: 30px;
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 45px;
}

a{
  text-decoration: none;
  color: #616161;
}

#info{
  width: 500px;
  margin: auto;
  height: 246px;
}

i{
  color: #737373;
}

#icon{
  margin-right: 3px;
}

#links{
  display: inline-block;
  margin-right: 20px;
}

#rechts{
  display: inline-block;
  margin-left: 20px;
}

.none{
  color: rgb(233, 233, 233);
}

a:hover {
    opacity: 0.85;
}

p{
  margin-bottom: 30px;
}

*Plug-in controls*/
.IN-widget iframe {left: 180px !important; top: 0px !important; width: 370px !important;}



@media screen and (max-width: 800px) {
    #logo {
        display: none;
    }

    .slider{
      margin-top: 30px;
    }

    #button{
      display: none;
    }
}

@media screen and (max-width: 400px) {
    .slider{
      display: none;
    }
}

@media screen and (max-width: 920px) {
  #tekst{
    width: 700px;
  }
}

@media screen and (max-width: 720px) {
  #tekst{
    width: 500px;
  }
}

@media screen and (max-width: 520px) {
  #tekst{
    width: 300px;
  }

  #tekst p{
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  #links{
    display: block;
    margin-right: 0px;
  }

  #rechts{
    display: block;
    margin-left: 0px;
  }

  footer{
    height: 420px;
  }

  #info{
    width: 230px;
    margin: auto;
    height: 246px;
  }
}

@media screen and (max-width: 1320px) {
  #turbines{
    display: none;
  }

  #beschrijving{
    width: 900px;
  }
}

@media screen and (max-width: 860px) {
  #turbines{
    display: none;
  }

  #support{
    display: none;
  }

  #beschrijving{
    width: 400px;
  }
}

@media screen and (max-width: 415px) {

  #beschrijving{
    display: none;
  }

  #tekst{
    margin-bottom: 50px;
  }

}
